.select2.select2-container.select2-container--default {
  width: 100% !important;
  max-width: 328px;
  border: 1px solid #E5E7EA;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: @dark-green;

  @media screen and (max-width: @576) {
    max-width: 320px;
  }
}

.select2-selection__rendered {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 7px;
    height: 11px;
    background: url("../img/arrow-up.png") no-repeat;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
  }
}

.select2-selection.select2-selection--single {
  display: block;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 7px;
    background: url("../img/select-arrow.png") no-repeat;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.select2-container--open {
  .select2-selection.select2-selection--single {
    display: block;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 12px;
      height: 7px;
      background: url("../img/select-arrow-up.png") no-repeat;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }
}

.selection {
  display: block;
}

.select2-container.select2-container--open {
  display: block;
  width: 100%;
  max-width: 328px;
}

.select2-search.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-results__options {
  background-color: @white;
  border: 1px solid #E5E7EA;
  border-top: none;


  @media screen and (max-width: @576) {
    max-width: 320px;
  }

  .select2-results__option {
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
  }
}

.select2-results__option--selectable {
  &::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 11px;
    background: url("../img/arrow-up-no-color.png") no-repeat;
    margin-left: 10px;
  }
}

.select2-results__option--highlighted {
  background-color: #E1FDE1;
  color: @dark-green;
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 11px;
    background: url("../img/arrow-up.png") no-repeat;
    margin-left: 10px;
  }
}


.board--search-result {
  @media screen and (max-width: @768) {
    .select2.select2-container.select2-container--default {
      width: 100% !important;
      max-width: 675px;

      .select2-container.select2-container--open {
        display: block;
        width: 100%;
        max-width: 675px;
      }
    }
  }

  @media screen and (max-width: @768) {
    .select2.select2-container.select2-container--default {
      width: 100% !important;
      max-width: 328px;

      .select2-container.select2-container--open {
        display: block;
        width: 100%;
        max-width: 328px;
      }
    }
  }
}
